.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: blue;
}
.logo-header {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  color: black;
}
